{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/stylesheet.css' %}">
</head>

<body>
    <form method="post" class="container">
        {% csrf_token %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <p style=" color: #d9dcd6; font-weight: 600; ">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        <h2>Reset Password</h2>
        <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <i class="fas fa-lock" onclick="togglePassword('password')"></i>
        </div>
        
        <div class="form-group">
            <input type="password" name="password2" id="password2" placeholder="Re-type Password" required>
            <i class="fas fa-lock" onclick="togglePassword('password2')"></i>
        </div>
        <button class="btn2" type="submit">Submit</button>
    </form>
    <script src="{% static 'account/js/script.js' %}"></script>
</body>

</html>
